@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');
@import "tailwindcss";

@theme {
    --color-button-green: #3bb199;
    --color-navlink-red: #ff0000;
    --color-active: #99a1af;
    --color-hover: #99a1af;

    /* font families */
    --font-unbounded: "Unbounded", sans-serif;
    --font-inter: "Inter Tight",
        sans-serif;


}

@layer utilities {
    .padding {
        @apply p-1
    }

    .icon-sm {
        @apply w-4 h-4
    }

    .icon-md {
        @apply w-6 h-6
    }

    .icon-lg {
        @apply w-8 h-8
    }

    .icon-extra-lg {
        @apply w-10 h-10
    }

    .icon-cursor {
        @apply cursor-pointer
    }

    .active {
        @apply bg-gray-400 rounded
    }

    .hover {
        @apply hover:bg-gray-400 p-1 rounded
    }

    .translate-x-full {
        transform: translateX(100%);
    }
}


/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #a2a2a2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media print {

    /* Hide everything */
    body * {
        visibility: hidden;
    }

    /* Show only print area */
    #printArea,
    #printArea * {
        visibility: visible;
    }

    /* Put it at the top-left of the printed page */
    #printArea {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
}